<h2> Total available: <%= pluralize(@movies.size, 'movie') %> </h2>

<% @movies.each do |movie| %>
    <header>
        <p> <strong> Name: </strong> <%= link_to movie.name, movie_path(movie) %> </p>
        <%= image_for(movie) %>
    </header>
    <section>
        <p> <%= pluralize(movie.capacity, 'spot') %> </p>
        <p> <strong> Description: </strong>  <%= truncate(movie.description, length: 42, separator: ' ') %> </p>
        <p> <strong> Location: </strong>  <%= movie.location %> </p>
        <p> <strong> Price: </strong>  <%= number_to_currency(movie.price) %> </p>
        <p> <strong> Starts at: </strong>  <%= movie.starts_at %> </p>
        <br><br>
    </section>
<% end %>

<p> <%= link_to 'Create', new_movie_path %> </p>