<h2> Total available: <%= pluralize(@movies.size, 'movie') %> </h2>

<ul>
    <% @movies.each do |movie| %>
        <li> <strong> Name: </strong> <%= movie.name %> </li>
        <li> <strong> Description: </strong>  <%= truncate(movie.description, length: 42, separator: ' ') %> </li>
        <li> <strong> Location: </strong>  <%= movie.location %> </li>
        <li> <strong> Price: </strong>  <%= number_to_currency(movie.price) %> </li>
        <li> <strong> Starts at: </strong>  <%= movie.starts_at %> </li><br><br>
    <% end %>
</ul>